In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
import re
import itertools as it
print(os.listdir("input"))

['imbd-sf']

In [10]:
data = pd.read_csv('input/imbd-sf/data.csv', parse_dates=['release_date'])
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015

In [11]:
len(data)

1890

# Предобработка датасета

In [12]:
# Dataset pretreatment
answer_ls = [] # creation the list of answers
# Add a new columns to the DataFrame
data['margin'] = data.revenue - data.budget
data['release_month'] = data.release_date.dt.month
data['symbol_count'] = data.original_title.apply(lambda x: len(x))
data['word_count'] = data.original_title.apply(lambda x: len(x.split(" ")))

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [13]:
# 1. Which movie has the biggest budget?

data[data.budget == data.budget.max()]
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [14]:
# 2. Find out the longest movie 

data[data.runtime == data.runtime.max()]
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [15]:
# 3. Find out the shortest movie

data[data.runtime == data.runtime.min()]
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [16]:
# 4. Find out an average runtime of the set

data.runtime.mean()
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [17]:
# 5. Find out the median runtime  

data.runtime.median()
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [18]:
# 6. Which movie is the most profitable?

data[data.margin == data.margin.max()]
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [19]:
# 7. Which movie is the most unprofitable? 

data[data.margin == data.margin.min()]
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [20]:
# 8. How many profitable movies are in the set?

len(data[data.margin > 0])
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
# 9. Which movie is the most profitable in 2008?

rev_max_2008 = data[data.release_year == 2008].revenue.max()
data[(data.release_year == 2008) & (data.revenue == rev_max_2008)]
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [22]:
# 10. Which movie brought the biggest lost between 2012 and 2014 (incl.)?

# It could be solved also through the function min(): revenue.min() similarly to task Nr.9

data[(data.release_year>=2012)&(data.release_year<=2014)].sort_values(['margin']).head(1)
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [23]:
# 11. Which genre is the most popular?  

pd.DataFrame(data.genres.str.split("|").tolist()).stack().value_counts()
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Action
2. Comedy
3. Drama
4. Thriller
5. Adventure

In [24]:
# 12. What is the most popular genre of profitable movies?

# Because of many following answers ase based of the solution used for the question Nr.11,
# it makes sense to define the function:
    # func_value_counts(column, df=data, sep="|", expr=(data.index >= 0)):
    # returns the Series where the Series.indexes are the unicue values from the "column" 
    # and the Series.values are the value_counts of the index in the "column" of the dataframe "df".
    # The "column" could consist of strings, using "sep" as the delimiter.
    # Dataframe "df" could be filtered on its contents according to the expression "expr" 

def func_value_counts(column, df=data, sep="|", expr=(data.index >= 0)):
    df = pd.DataFrame(df[expr][column].str.split(sep).tolist()).stack().value_counts()
    return df


func_value_counts('genres', expr=(data['margin'] > 0))

answer_ls.append(3)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [25]:
# 13. Which director made the biggest number of movies? 

# We use the function defined in the Solution Nr.12:
# func_value_counts(column, df=data, sep="|", expr=(data.index >= 0))
# to get the DataFrame: pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts()

func_value_counts('director')

answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [26]:
# 14. Which director made the the biggest number of profitable movies?

# we use the function defined in the Solution Nr.12:
# func_value_counts(column, df=data, sep="|", expr=(data.index >= 0))
# to get the DataFrame: pd.DataFrame(data[data.margin>0].director.str.split('|').tolist()).stack().value_counts()

func_value_counts('director', expr=(data['margin'] > 0))

answer_ls.append(2)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [27]:
# 15. Which director brought the biggest profit?

df_dir = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index() 
df_dir.columns =  ['row1', 'row2', 'director']
df_dir['margin_dir'] = df_dir.row1.apply(lambda x: data.iloc[x]['margin'])
df_dir.groupby(['director'])['margin_dir'].sum().sort_values(ascending=False)

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [28]:
# 16. Which actor brought the biggest profit?

# Because of many following answers ase based of the solution used for the question Nr.15,
# it makes sense to define the function:
    # func_sum_value(reseach_column, sum_column, df=data, sep="|", asc=False):
    # returns the Series where the Series.indexes are the unicue values from the "reseach_column" 
    # and the Series.values are the summ of values in the "sum_column" of the dataframe "df".
    # The "reseach_column" could consist of strings, using "sep" as the delimiter.
    # the Series is sorted in accoding with "asc" (default is False:descending)  

def func_sum_value(reseach_column, sum_column, df=data, sep="|", asc=False):
    df1 = pd.DataFrame(df[reseach_column].str.split('|').tolist()).stack().reset_index() 
    df1.columns =  ['row1', 'row2', 'reseach_column']
    df1['sum_column'] = df1.row1.apply(lambda x: df.iloc[x][sum_column])
    result_df = df1.groupby(['reseach_column'])['sum_column'].sum().sort_values(ascending = asc)
        
    return result_df


func_sum_value('cast', 'margin')         
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [29]:
# 17. Which actor was the most unprofitable in 2012?

# We use the function defined in the Solution Nr.16:
# func_sum_value(reseach_column, sum_column, df=data, sep="|", asc=False):
# for the filtred dataframe of the year 2012

df_2012 = data[data.release_year == 2012]
func_sum_value('cast', 'margin', df=df_2012, asc=True)

answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [30]:
# 18. Which actor played the most often in the movies with a budget bigger as the average budget?

# We use the function defined in the Solution Nr.12:
# func_value_counts(column, df=data, sep="|", expr=(data.index >= 0))


func_value_counts('cast', expr=(data.budget > data.budget.mean()))

answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [31]:
# 19. In the films of which genre Nicolas Cage played the most often?

# We use the function defined in the Solution Nr.12:
# func_value_counts(column, df=data, sep="|", expr=(data.index >= 0))

func_value_counts('genres', expr=(data.cast.str.contains("Nicolas Cage")))

answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [32]:
# 20. Which production company produced the most number of the films?

# We use the function defined in the Solution Nr.12:
# func_value_counts(column, df=data, sep="|", expr=(data.index >= 0))

func_value_counts('production_companies')

answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [33]:
# 21. Which production company produced the most number of the films in 2015?

# We use the function defined in the Solution Nr.12:
# func_value_counts(column, df=data, sep="|", expr=(data.index >= 0))

func_value_counts('production_companies', expr=(data.release_year == 2015))

answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [34]:
# 22. Which production company was the most profitable in the "comedy"-genre?

# We use the function defined in the Solution Nr.16:
# func_sum_value(reseach_column, sum_column, df=data, sep="|", asc=False):
# for the filtred dataframe with the "genres"-filtr

df_comedy = data[data.genres.str.contains("Comedy")]
func_sum_value('production_companies', 'margin', df=df_comedy)

answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [35]:
# 23. Which production company was the most profitable in 2012?

# We use the function defined in the Solution Nr.16:
# func_sum_value(reseach_column, sum_column, df=data, sep="|", asc=False)
# for the filtred dataframe with the "release_year"-filtr

df_2012 = data[data.release_year == 2012]
func_sum_value('production_companies', 'margin', df=df_2012)

answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [36]:
# 24. What is the most unprofitable film of the company "Paramount Pictures"?

df_paramount = data[data.production_companies.str.contains("Paramount Pictures")]
df_paramount[df_paramount.margin == df_paramount.margin.min()]           

answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [37]:
# 25. Which year is the most profitable?

data.groupby(['release_year'])['margin'].sum().sort_values(ascending=False)

answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [38]:
# 26. The most profitable year for the company "Warner Bros"?

data[data.production_companies.str.contains("Warner Bros")].groupby(['release_year']) \
    ['margin'].sum().sort_values(ascending=False)

answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [39]:
# 27. In which month the most number of movies were realesed? 

data['release_month'] = data.release_date.dt.month
data['release_month'].value_counts()

answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [40]:
# 28. How many movies were released in summer?

len(data.query('release_month in ["6", "7", "8"]'))

answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [41]:
# 29. Which director launched the most numder of movies in winter? 

df_winter= data.query('release_month in ["1", "2", "12"]')
pd.DataFrame(df_winter.director.str.split("|").tolist()).stack().value_counts()

answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [42]:
# 30. Which month in the year was the most profitable? 

list_year = data['release_year'].unique()
win_month_counter = Counter()

for year in list_year:
    win_month = data[data.release_year == year].groupby(['release_month'])['margin'].sum().sort_values(ascending=False)
    win_month_counter[win_month.index[0]] += 1

win_month_counter.most_common()

answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [43]:
# 31. Which production company produced the films with the longest titles (on the average number of symbols)?

df_comp = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()
df_comp.columns =  ['row1', 'row2', 'production_companies']
df_comp['symbol_count'] = df_comp.row1.apply(lambda x: data.iloc[x]['symbol_count'])
df_comp.groupby(['production_companies'])['symbol_count'].mean().sort_values(ascending=False)

answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [44]:
# 32. Which production company produced the films with the longest titles (on the average number of words)?

df_comp = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()
df_comp.columns =  ['row1', 'row2', 'production_companies']
df_comp['word_count'] = df_comp.row1.apply(lambda x: data.iloc[x]['word_count'])
df_comp.groupby(['production_companies'])['word_count'].mean().sort_values(ascending=False)

answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [45]:
# 33. How many different words were used in the titles of movies?

# Solution Nr.1 
# I find this solution more correct, but the Solution Nr.2  gives less difference from the right answer (2461)

cnt1 = Counter()
pattern = re.compile('\w+')
for word in data.original_title.str.lower():
    word_list = pattern.findall(word)
    cnt1 += Counter(word_list)
len(list(cnt1))

# Solution 2:
cnt2 = Counter()
for word in data.original_title.str.lower().str.split(" "):
    cnt2 += Counter(word)
len(list(cnt2))

answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [46]:
# 34. Which movies are in the number of movies composing 1 % of the best rating films? 

data[['original_title','vote_average']]. \
    sort_values(by='vote_average', ascending=False) \
    .head(len(data) // 100)
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [47]:
# 35. Which actors played the most often together?

cnt = Counter()
for actors in data.cast.str.split("|"):
    pairs_list = list(it.combinations(actors, 2))
    cnt += Counter(pairs_list)
cnt.most_common()

answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [48]:
# 36. Which director has the highest probability to make a profitable movie?

df_dir = pd.DataFrame(data.director.str.split("|").tolist()).stack().reset_index()
df_dir.columns = ['row1', 'row2', 'director']
df_dir['profit_film'] = df_dir.row1.apply(lambda x: 1 if data.iloc[x]['margin'] > 0 else 0)
df_dir['count_film'] = (1)
grouped_df = df_dir.groupby(['director'])[['profit_film', 'count_film']].sum()
grouped_df['profit_percent'] = grouped_df.profit_film / grouped_df.count_film
grouped_df.query('director in ["Quentin Tarantino", "Steven Soderbergh", "Robert Rodriguez", "Christopher Nolan", "Clint Eastwood"]')

answer_ls.append(4)

# Submission

In [49]:
len(answer_ls)

36

In [124]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4